* text=auto eol=lf

*.css diff=css
*.md diff=markdown
*.ts diff=typescript

/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore
/.npmrc export-ignore
/.nvmrc export-ignore
/.stylelintrc.json export-ignore
/biome.json export-ignore
/knip.json export-ignore
/CONTRIBUTING.md export-ignore
/pnpm-lock.yaml export-ignore
/pnpm-workspace.yaml export-ignore
/tests export-ignore
/vitest.config.ts export-ignore
